@{
ViewData["Title"] = "Home Page";
}

@using OnlineShop.Services
@using OnlineShop.Utils
@inject DbRepository dB

@section Head {
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
}

<div class="main-content">
    <main role="main">
        <div class="main-content__grid grid">
            <div class="top-center-l grid__item">
                <div class="grid__img-1 grid__area">
                    <span>Hello</span>
                </div>
            </div>
            <div class="top-center-r grid__item">
                <div class="grid__img-2 grid__area">
                    <span>Hello</span>
                </div>
            </div>
            <div class="top-left grid__item">
                <div class="grid__img-3 grid__area">
                    <span>Hello</span>
                </div>
            </div>
            <div class="center-left grid__item">
                <div class="grid__img-4 grid__area">
                    <span>Hello</span>
                </div>
            </div>
            <div class="top-right grid__item">
                <div class="grid__img-5 grid__area">
                    <span>Hello</span>
                </div>
            </div>
            <div class="center-righ grid__item">
                <div class="grid__img-6 grid__area">
                    <span>Hello</span>
                </div>
            </div>
            <div class="bottom-left grid__item">
                <div class="grid__img-7 grid__area">
                    <span>Hello</span>
                </div>
            </div>
            <div class="bottom-right grid__item">
                <div class="grid__img-8 grid__area">
                    <span>Hello</span>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="carousel">
    <div class="carousel__nav">
        <a class="carousel__prev">
            <img src="~/img/icons/chevron-left.svg" alt="link prev" />
        </a>
    </div>
    <div id="id-owl-carousel" class="owl-carousel">
        @foreach (var item in dB.Products)
        {
            <div class="owl-card owl-card_size mr">
                <div class="owl-card__icon icon_size scale">
                    <img src="~/files/images/default/300x300.png" />
                </div>
                <div class="owl-card__body">
                    <div class="owl-card__title">@item.Name</div>

                    @if (item.Discount > 0)
                    {
                        <div class="owl-card__row owl-card__row_discount">
                            <div class="owl-card__price">@Math.Round(@item.Price, 2)</div>
                            <div class="owl-card__sale">@Discount.GetDiscount(@item.Price, @item.Discount)</div>
                            <div class="owl-card__favorites-logo">
                                <a><img src="~/img/icons/heart.svg" /></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="owl-card__row owl-card__row_no_discount">
                            <div class="owl-card__price">@Math.Round(@item.Price, 2)</div>
                            <div class="owl-card__favorites-logo">
                                <a><img src="~/img/icons/heart.svg" /></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <div class="carousel__nav">
        <a class="carousel__next">
            <img src="~/img/icons/chevron-right.svg" alt="link next" />
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
}
