@using OnlineShop.Services
@inject DbRepository dB

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />


    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head")
    }

</head>
<body>
    <header>
        <div class="navigation" id="navigation">
            <img class="navigation__logo"
                 src="~/img/icons/logo.svg"
                 alt="logo" />
            <ul class="navigation__menu menu">
                <li class="menu__item">
                    <a class="menu__link" href="#">Home</a>
                </li>
                <li class="menu__item"><a class="menu__link" href="#">Blog</a></li>
                <li class="menu__item dropdown" id="categories">
                    <a class="menu__link" href="#">Categories</a>
                    <ul class="dropdown-content">
                        @foreach (var itemCat in dB.Categories)
                        {
                            <li class="dropdown-parent">
                                <a href="#" class="submenu__link">@itemCat.Name</a>
                                <ul class="sub-dropdown-content">
                                    @foreach (var itemSub in dB.Subcategories)
                                    {
                                        @if (@itemCat.Id == @itemSub.CategoryFk)
                                        {
                                            <li>
                                                <a href="#" class="submenu__link">@itemSub.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
                <li class="menu__item"><a class="menu__link" href="#">About</a></li>
            </ul>
            <div class="navigation__images">
                <img class="navigation__image"
                     src="~/img/icons/account.svg"
                     alt="account" />
                <img class="navigation__image"
                     src="~/img/icons/like.svg"
                     alt="favorites" />
                <img class="navigation__image"
                     src="~/img/icons/shopping-cart.svg"
                     alt="shopping-cart" />
            </div>
        </div>
    </header>
    @RenderBody()



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
